#img_scroll {
    background-image: url('../Images/login.jpg');
    height: 400px;
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 1349 px 300px;
    color: white;
    width: 1349px;
}

#img_scroll h1,
#img_scroll p{
	z-index: 1;
	margin: 0;
	padding: 0;	
	position:absolute;
	text-align: center;
	width: 100%;
	letter-spacing: 5px;
}

#img_scroll h1{
	font-size:3em;
	font-weight:lighter;
	margin-top: 180px;
	margin-bottom: 50px;
}

#img_scroll p{
	font-size:1.3em;
	margin-top: 250px;
}

#login_acc{
	width: 500px;
	float: left;
    background: #333333;
    color: white;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	margin-top: 100px;
	padding-left: 200px;
	padding-bottom: 50px;
	padding-top: 50px;
	margin-bottom: 100px;
}

#email_icon{
	width: 400px;
	height: 50px;
	background:url('../Images/login_icon.png') no-repeat;
	background-size: 35px;
	background-position: left center;
	border-bottom: 1px #ebebeb solid;
	margin-bottom: 10px;
	margin-top: 50px;
}

#Email{
	width: 300px;
	height: 45px;
	margin-left: 65px;
	border:none;
	background-color:#333333;
	color: white;
}

#Email:focus{
 	outline-width: 0;
}

#password_icon{
	width: 400px;
	height: 50px;
	background:url('../Images/password_icon.png') no-repeat;
	background-size: 35px;
	background-position: left center;
	border-bottom: 1px #ebebeb solid;
	margin-bottom: 10px;
	margin-top: 10px;
}

#Password{
	width: 300px;
	height: 45px;
	margin-left: 65px;
	border:none;
	background-color:#333333;
	color: white;
}

#Password:focus{
 	outline-width: 0;
}


::-webkit-input-placeholder { /* Chrome */
  color: #ebebeb;
  font-weight:bold;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
:focus::-webkit-input-placeholder {
  color: white;
}

:-ms-input-placeholder { /* IE 10+ */
  color: #ebebeb;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #ebebeb;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #ebebeb;
  opacity: 1;
}

.forget_pw{
	text-decoration:none;
	color: #00CCFF;
	cursor:pointer;
}

.ButtonLogin{
   	font-size: 1em;
    position: relative;
    background: #1AB188;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:none;
	cursor:pointer;
	color:white;
	padding:12px 110px;
    display: inline-block;
    margin-top: 40px;
	opacity: 0.8;
	width: 400px;
	height: 50px;
	letter-spacing: 0.5em;
}

.ButtonLogin:hover{
	opacity: 1;
}

#signup_acc{
	float:right;
	width: 400px;
	text-align: center;
	margin-right: 140px;
	margin-top: 150px;
}

.Buttonsignup{
   	font-size: 1em;
    position: relative;
    background: #CC0000;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:none;
	margin-right:100px;
	cursor:pointer;
	color:white;
    display: inline-block;
    margin-top: 40px;
	opacity: 0.8;
	width: 400px;
	height: 50px;
	letter-spacing: 0.5em;
}

.Buttonsignup:hover{
	opacity: 1;
}