html {
    background-color: white;
}

body {
    margin: auto;
    padding: 0;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    line-height: 1.2em;
    background: white;
    width: 1349px;
}

header {
    padding: 10px;
    text-align: center;
    opacity: 100;
    position: fixed;
    z-index: 50;
    padding-top: 0px;
    width: 1349px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid white;
    margin: 1em 0;
    padding: 0;
}


#logo {
    float: left;
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 400px;
}


.nav {
    margin-top: 18px;
    float: right;
    padding-right: 20px;
}

    .nav ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        color: white;
    }

    .nav li {
        font-size: 0.8em;
        position: relative;
        display: inline-block;
        margin-right: -5px;
    }

    .nav a {
        font-size: 1.3em;
        display: block;
        padding: 0px 20px 0px 20px;
        margin-bottom: 0px;
        color: white;
        text-align: center;
        text-decoration: none;
        transition: all .25s ease;
        -ms-transition: all .25s ease;
        -webkit-transition: all .25s ease;
    }

        .nav a:hover {
            cursor: pointer;
            color: white;
        }

    .nav li ul {
        z-index: 2;
        left: 0;
        position: absolute;
        opacity: 0;
        visibility: hidden;
        top: 80px;
        transition: all .25s ease;
        -ms-transition: all .25s ease;
        -webkit-transition: all .25s ease;
    }


footer {
    margin: auto;
    padding: 50px 0 50px 0;
    height: 220px;
    clear: both;
    background: rgba(0,0,0,0.8);
    color: #CCCCCC;
}

    footer p {
        margin-top: 35px;
        font-size: 1em;
        text-align: center;
    }


.hvr {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

    .hvr:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: white;
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }

    .hvr:hover, .hvr:focus, .hvr:active {
        color: white;
    }

        .hvr:hover:before, .hvr:focus:before, .hvr:active:before {
            -webkit-transform: scaleY(1);
            transform: scaleY(1);
            -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
            transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
        }

#body {
    padding-top: 1px;
    padding-bottom: 1px;
    color: #717074;
    z-index: 2;
}

table {
    margin-left: 80px;
    border-collapse: collapse;
    border-spacing: 5px;
    margin-bottom: 50px;
    float: left;
}

td {
    width: 200px;
    padding: 5px;
}

.td1 {
    width: 100px;
}

.td_right {
    text-align: right;
    color: white;
}


#footer_hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #CCCCCC;
    margin: 1em 0;
    padding: -50px;
    margin-top: 180px;
}

#footer_img {
    float: right;
    margin-right: 80px;
}

footer img {
    margin-left: 10px;
}

    footer img:hover {
        cursor: pointer;
    }

body {
    width: 1349px;
}

.table_a {
    text-decoration: none;
    color: #CCCCCC;
    cursor: pointer;
}

.table_a:hover{
    color: white;
}