html {
    background-color: white;
}

body {
    margin: auto;
    padding: 0;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    line-height: 1.2em;
    background: white;
    width: 1349px;
}

header {
    padding: 10px;
    text-align: center;
    opacity: 100;
    position: fixed;
    z-index: 50;
    padding-top: 0px;
    width: 1349px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid white;
    margin: 1em 0;
    padding: 0;
    margin: 0px;
}


#logo {
    float: left;
    margin-top: 8px;
    margin-left: 30px;
}


.nav {
    float: right;
    padding-right: 10px;
}

.nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav li {
    position: relative;
    display: inline-block;
}

.nav a {
    display: block;
    padding: 10px 20px;
    color: white;
    font-size: 1.1em;
    text-align: center;
    text-decoration: none;
    transition: all .25s ease;
    -ms-transition: all .25s ease;
    -webkit-transition: all .25s ease;
}

.nav a:hover {
    background: white;
    color: black;
    cursor: pointer;
}

.nav li ul {
    z-index: 2;
    left: 0;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    top: 20px;
    box-shadow: 1px 4px 3px #585858;
    transition: all .25s ease;
    -ms-transition: all .25s ease;
    -webkit-transition: all .25s ease;
}

.nav li:hover ul {
    visibility: visible;
    opacity: 1;
    top: 40px;
}

.nav li ul li {
    width: 150px;
    position: relative;
    margin: 0;
    display: block;
    background: black;
}

#profile{
    width: 150px;
}

footer {
    margin: auto;
    padding: 50px 0 50px 0;
    height: 220px;
    clear: both;
    background: rgba(0,0,0,0.8);
    color: #CCCCCC;
}

footer p {
    margin-top: 35px;
    font-size: 1em;
    text-align: center;
}



#body {
    padding-top: 1px;
    padding-bottom: 1px;
    color: #717074;
    z-index: 2;
}

table {
    margin-left: 80px;
    border-collapse: collapse;
    border-spacing: 5px;
    margin-bottom: 50px;
    float: left;
}

td {
    width: 200px;
    padding: 5px;
}

.td1 {
    width: 100px;
}

.td_right {
    text-align: right;
    color: white;
}


#footer_hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #CCCCCC;
    margin: 1em 0;
    padding: -50px;
    margin-top: 180px;
}

#footer_img {
    float: right;
    margin-right: 80px;
}

footer img {
    margin-left: 10px;
}

footer img:hover {
    cursor: pointer;
}

body {
    width: 1349px;
}

.table_a {
    text-decoration: none;
    color: #CCCCCC;
    cursor: pointer;
}

    .table_a:hover {
        color: white;
    }
