#img_scroll {
    background-image: url('../Images/signup.jpg');
    height: 400px;
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 1349 px 250px;
    color: white;
    width: 1349px;
}

#img_scroll h1,
#img_scroll p{
	z-index: 1;
	margin: 0;
	padding: 0;	
	position:absolute;
	text-align: center;
	width: 100%;
	letter-spacing: 5px;
}

#img_scroll h1{
	font-size:3em;
	font-weight:lighter;
	margin-top: 180px;
	margin-bottom: 50px;
}

#img_scroll p{
	font-size:1.3em;
	margin-top: 250px;
}

#content{
	margin: 100px;
}

#content h1,
#content h2{
	text-align:center;
}

#content h2{
	letter-spacing: 0.3em;
	padding-top: 20px;
}

#left_buyer{
	float:left;
	width: 400px;
	margin-left: 140px;
	margin-top: 30px;
	margin-bottom: 100px;
}

#right_seller{
	float:right;
	width: 400px;
	margin-top: 30px;
	margin-bottom: 100px;
	margin-right: 110px;
}

.image{
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;

}

#img_desc {
    color: white;
    text-align: center;
    width: 300px;
    z-index: 1;
    margin: 0;
    padding: 0;
    position: absolute;
    padding-left: 20px;
}

#img_desc h3 {
    font-weight: lighter;
    opacity: 0.8;
}

#img_desc a {
    opacity: 0.7;
    color: white;
    text-decoration: none;
}

#img_desc1 {
    color: white;
    text-align: center;
    width: 300px;
    z-index: 1;
    margin: 0;
    padding: 0;
    position: absolute;
    padding-left: 20px;
}

#img_desc1 h3 {
     font-weight: lighter;
     opacity: 0.8;
}

#img_desc1 a {
      opacity: 0.7;
      color: white;
      text-decoration: none;
}

#img_desc h1,
#img_desc1 h1{
	padding-top: 220px;
	opacity: 0.9;
	letter-spacing: 0.1em;
	text-align:center;
	padding-left:15px;
}

#left_buyer:hover,
#right_seller:hover{
	 -moz-transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1); 
    transform: scale(1.1,1.1);

}