body {
}

input[type=button], input[type=submit]{
    font-size: 1em;
    position: relative;
    background: #1AB188;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    color: white;
    padding: 12px 110px;
    display: inline-block;
    margin-top: 40px;
    opacity: 0.8;
    width: 400px;
    height: 50px;
    letter-spacing: 0.5em;
}

input[type=reset] {
    font-size: 1em;
    position: relative;
    background: #CC0000;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    margin-right: 100px;
    cursor: pointer;
    color: white;
    display: inline-block;
    margin-top: 40px;
    opacity: 0.8;
    width: 400px;
    height: 50px;
    letter-spacing: 0.5em;
}

input[type=submit]:hover, .ButtonSubmit:hover {
    opacity: 1;
}

input[type=reset]:hover {
    opacity: 1;
}

.fileUpload {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 10px 0px;
}

.ButtonSubmit {
    font-size: 1em;
    position: relative;
    background: #1AB188;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    color: white;
    padding: 12px 110px;
    display: inline-block;
    margin-top: 40px;
    opacity: 0.8;
    width: 400px;
    height: 50px;
    letter-spacing: 0.5em;
}

input[type=file], textarea, textbox, input[type=text], .DropDownList1 {
    width: 100%;
    padding: 16px 32px;
    margin: 4px 2px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
